.Write {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.WriteTitle {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.WriteInputs {
  width: 100%;
  height: auto;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 14px;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 18px;
  font-weight: 600;
  width: 300px;
  height: 45px;
}

button:hover {
  /* border: 2px solid black; */
  background-color: #f0f0f0;
  cursor: pointer;
}