.UnableButton {
  border-radius: 14px;
  background-color: #D9D9D9;
  border: 1px solid black;
  color: black;
  font-size: 18px;
  font-weight: 600;
  width: 300px;
  height: 45px;
}

.UnableButton:hover {
  background-color: #D9D9D9;
  cursor: default;
}